@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    display: none;
}

::-webkit-scrollbar-track {
    background: #fff; /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background: #000; /* Color of the thumb */
    border-radius: 5px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #000; /* Color of the thumb when hovered */
}

body.menu-open {
    overflow: hidden;
}

.message {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex img {
    filter: invert(100%);
    margin-right: 10px;
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: #fff;

}

html {
    scroll-behavior: smooth;
}

/* utility */
.bg-white {
    background: #ffffff;
}


/* navbar */
header {
    background: #000000;
    padding: 1em 0;
    width: 100%;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 5rem;
}

.logo {
    font-size: 1.8em;
    font-weight: 700;
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li:first-child {
    margin-left: 0;
    /* Adjust margin for the first item */
}

nav ul li a {
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #687176;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-toggle .menu-icon,
.menu-toggle .close-icon {
    font-size: 1.4em;
    color: #fff;

}

.menu-toggle .close-icon {
    display: none;
}

.menu-toggle.open .menu-icon {
    display: none;
}

.menu-toggle.open .close-icon {
    display: block;
}

.top-padding {
    padding-top: 4rem;
}

.heading {
    text-align: center;
    font-size: 1.5rem;
    color: #000000;
}

.heading p {
    font-size: 1.1rem;
}

.light-text {
    color: grey;
}

/* main content */
.container2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.ads1 {
    width: 15%;
    background: #000;
}

.main {
    width: 60%;
    padding: 40px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* main section */
.text-to-type {
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.6;
    max-height: 220px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.input-area {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 180px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.result {
    font-size: 20px;
    margin-top: 20px;
}

.timer {
    font-size: 1.3rem;
}

.button-container {
    margin-bottom: 20px;
}

.button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background-color: #000;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid black;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 1.2rem;
}

.modal-content {
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 8px;
    width: 100%;
    max-width: 40%;
    text-align: center;
    position: relative;
    margin: auto;
}

.modal-content h2 {
    margin-bottom: 30px;
    color: #333;
}

.result-table {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #c0c0c0;
}

.result-mod th,
.result-table td {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #555;
    border: 1px solid #c0c0c0;

}

.result-table th {
    padding-right: 20px;
    padding-left: 20px;
    color: #333;
    width: 45%;
    font-size: 1.15rem;
    border: 1px solid #c0c0c0;
}


.CloseButton button {
    width: 50%;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    margin: 25px auto 15px auto;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background-color: #000;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.CloseButton button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid black;
}

#modalMistakes {
    color: #ff0000;
}

#Speed {
    font-weight: bold;
}

/* footer */
footer {
    text-align: center;
    padding: 1rem;
    color: #fff;
    font-size: 1.1rem;
    background-color: black;
}


/* mobiles only */
.message {
    text-align: center;
    vertical-align: middle;
    font-size: 1.3rem;
    padding: 50px;
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 35% 15% ;
}

.message .flex4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-mobile{
    font-size: 1.8em;
    font-weight: 700;
    color: #000;
    margin-left: 1rem;
}

.message h1 {
    font-size: 2.5rem;
    margin-top: 15%;
}

/* Smartphones (Portrait) */
@media only screen and (max-width: 767px) {
    .page {
        display: none;
    }

    .message {
        display: block;
    }
    #background-video {
        display: none;
    }
}

/* Smartphones (Landscape) */
@media only screen and (min-width: 768px) and (max-width: 1300px) {
    .main {
        width: 95%;
    }
}

.incorrect {
    background-color: #ffcccc;
}

.correct {
    background-color: #ccffcc;
}

/* about us page */
.about-container {
    font-size: 1.1rem;
    padding: 20px;
}

.about-container p {
    margin-bottom: 20px;
}

.about-container ul {
    padding-left: 40px;
}

.sub-heading {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
}

.bold {
    font-weight: 500;
    font-size: 1.2rem;
}

.bold2 {
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: underline
}